*{
    box-sizing: border-box;
}
/*
.hero__menu{
    position: fixed;
    width: 800px;
    top: 20px;
    right: 20px;
}

.hero__menu a{
    display: inline-block;
    padding: 5px 10px;
    background-color: #1b1b1b;
    color: #fff;
    text-decoration: none;
}

*/

#chk-burger{
    display: none;
}

.navigation{
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: right;
    z-index: 1;
}

.navigation__menu{
    background-color: #171717;
    padding: 10px;
    margin: 5px;
}

.navigation__menu a{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    text-decoration: none; 
    background-color: #0000002a;
    padding: 7px;
    margin: 7px;
    color: rgb(255, 255, 255);
}

.navigation__bouton{
}

.navigation__menu{
    transform: translateX(100%);
    transition: .5s linear;
}

#chk-burger:checked ~ .navigation__menu {
    transform: translateX(0%);
    transition: .5s linear;
}